In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#string
country = ['India','Pakistam','USA','Nepal','Srilanka']

pd.Series(country)

In [ ]:
#integers
runs =[67,13,24,56,100]

runs_ser = pd.Series(runs)

In [ ]:
marks = [53,54,56,23,10]
subjects = ['english','maths','science','hindi','geography']
pd.Series(marks, index = subjects)

In [ ]:
marks = {
    'maths':67,
    'english':45,
    'maths':56,
    'geo':100,
    'hindi':50
}

marks_series = pd.Series(marks,name = 'Ram k Marks')
marks_series

In [ ]:
marks_series.size

In [ ]:
marks_series.name

In [ ]:
marks_series.is_unique

pd.Series([1,2,3,4,5,5]).is_unique

In [ ]:
#index
marks_series.index

In [ ]:
runs_ser.values

In [ ]:
#withh one col
subs = pd.read_csv('subs.csv' , squeeze = True)
subs

In [ ]:
# with two col
vk = pd.read_csv('kohli_ipl.csv' , index_col = 'match_no', squeeze = True)
vk

In [ ]:
vk.size

In [ ]:
movies = pd.read_csv('bollywood.csv', index_col = 'movie', squeeze = True)
movies

In [ ]:
movies.head

In [ ]:
movies.sample(5)

In [ ]:
movies.value_counts()

In [ ]:
#sort_values -> inplace
vk.sort_values(ascending = False).head(1).values[0]

In [ ]:
movies

In [ ]:
subs.sort_values(ascending = False).head(1).values[0]

In [ ]:
movies.sort_index(ascending = False, inplace = True)
movies

In [ ]:
subs.sum

In [ ]:
subs.mean()
print(vk.median())
print(movies.mode())
print(subs.std())
print(vk.var())

In [ ]:
#slicing
vk[5:16]

In [ ]:
movies[::2]

In [ ]:
vk[[1,2,3,4,5]]

In [ ]:
movies['2 States (2014 film)']

In [ ]:
marks_series[1] = 100

marks_series

In [ ]:
marks_series['evs'] = 100

In [ ]:
marks_series

In [ ]:
'Alia Bhatt' in movies.values

In [ ]:
#Arithmatic Operators
100 + marks_series

In [ ]:
vk >= 10

Boolean Indexing on Series

In [ ]:
vk[vk >= 50].size

In [ ]:
vk[vk==0].size

In [ ]:
subs[subs > 200].size

In [ ]:
num_movies = movies.value_counts()
num_movies[num_movies > 20]

Plotting Graphs

In [ ]:
subs.plot()

In [ ]:
movies.value_counts().head(20).plot(kind = 'pie')

In [ ]:
#astype
import sys
sys.getsizeof(vk.astype('int16'))

In [ ]:
vk[vk.between(51,99)].size

In [ ]:
subs

In [ ]:
subs.clip(100,200)

In [ ]:
# drop duplicates
temp = pd.Series([1,1,2,2,3])

In [ ]:
temp.drop_duplicates(keep = 'last')